<?xml version="1.0" encoding="UTF-8"?>
<Context>
    <Resources>
        <PreResources className="org.apache.catalina.webresources.DirResourceSet"
                      base="C:\Users\sales\AppData\Local\JetBrains\IntelliJIdea2024.3\tomcat\734017d7-daba-47ec-ae2f-04b2a59670ce\webapps\uploads"
                      webAppMount="/uploads" />
    </Resources>
</Context>